out/**

data/images_to_h5.py

data/flow/train/nonbreaking
data/flow/test/nonbreaking

data/spyflow/train/nonbreaking
data/spyflow/train/spill
data/spyflow/test/nonbreaking

precomp/**
.markdownlint.json
__pycache__/**
__pycache__/utils.cpython-37.pyc
settings.json